flows.json
[
    {
        "id": "3af82246.3634ae",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b6676317.388cb",
        "type": "tab",
        "label": "Flow 2",
        "disabled": true,
        "info": ""
    },
    {
        "id": "d2a17e7.00b668",
        "type": "mqtt-broker",
        "name": "myBrokerConfig",
        "broker": "${MQTT_HOST}",
        "port": "${MQTT_PORT}",
        "tls": "9ec473ef.e0678",
        "clientid": "${MQTT_CLIENT_ID}",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "9ec473ef.e0678",
        "type": "tls-config",
        "name": "myTLSconfig",
        "cert": "",
        "key": "",
        "ca": "/mosquitto/certs/mqtt_ca.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "mqttBroker",
        "verifyservercert": true
    },
    {
        "id": "7730cd69.0c8a94",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1d88e7ea.99e5b8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d49212e.c7e99f",
        "type": "ui_group",
        "name": "Default",
        "tab": "cfd81e9d.88935",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8d833e20.41f3a",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "275ec0ac.7b86b",
        "type": "ui_group",
        "name": "Default",
        "tab": "8d833e20.41f3a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cfd81e9d.88935",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9f60bf98.03638",
        "type": "ui_tab",
        "name": "center",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c5092917.827e78",
        "type": "ui_group",
        "name": "Default",
        "tab": "9f60bf98.03638",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "55dd0376.f7c64c",
        "type": "http in",
        "z": "3af82246.3634ae",
        "name": "",
        "url": "/hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 320,
        "y": 200,
        "wires": [
            [
                "c656aba7.944288"
            ]
        ]
    },
    {
        "id": "c2380ca8.0463",
        "type": "http response",
        "z": "3af82246.3634ae",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 660,
        "y": 200,
        "wires": []
    },
    {
        "id": "c656aba7.944288",
        "type": "change",
        "z": "3af82246.3634ae",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"text\":\"Hello\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 200,
        "wires": [
            [
                "c2380ca8.0463"
            ]
        ]
    },
    {
        "id": "a80da1fa.e3c11",
        "type": "inject",
        "z": "3af82246.3634ae",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "WWW",
        "payloadType": "env",
        "x": 260,
        "y": 60,
        "wires": [
            [
                "10e74b23.e3b8c5"
            ]
        ]
    },
    {
        "id": "10e74b23.e3b8c5",
        "type": "debug",
        "z": "3af82246.3634ae",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 80,
        "wires": []
    },
    {
        "id": "8381a5c3.3cbf9",
        "type": "mqtt in",
        "z": "3af82246.3634ae",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "json",
        "broker": "d2a17e7.00b668",
        "x": 150,
        "y": 400,
        "wires": [
            [
                "ebab6856.8901c",
                "536b3ed.e7a76c"
            ]
        ]
    },
    {
        "id": "ebab6856.8901c",
        "type": "debug",
        "z": "3af82246.3634ae",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 400,
        "wires": []
    },
    {
        "id": "92d9d4a9.e5cf4",
        "type": "inject",
        "z": "3af82246.3634ae",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 290,
        "y": 320,
        "wires": [
            [
                "fb7b0c12.eb2e48"
            ]
        ]
    },
    {
        "id": "fb7b0c12.eb2e48",
        "type": "change",
        "z": "3af82246.3634ae",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"time\" : $fromMillis($toMillis($now()),'[H]:[m]:[s]') }",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 340,
        "wires": [
            [
                "d356084b.b81818"
            ]
        ]
    },
    {
        "id": "d356084b.b81818",
        "type": "mqtt out",
        "z": "3af82246.3634ae",
        "name": "",
        "topic": "time",
        "qos": "",
        "retain": "",
        "broker": "d2a17e7.00b668",
        "x": 670,
        "y": 360,
        "wires": []
    },
    {
        "id": "e7888a93.3eefb8",
        "type": "ui_chart",
        "z": "3af82246.3634ae",
        "name": "",
        "group": "d49212e.c7e99f",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "10",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 450,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "63ac02c0.346bcc",
        "type": "ui_slider",
        "z": "3af82246.3634ae",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "d49212e.c7e99f",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 250,
        "y": 520,
        "wires": [
            [
                "e7888a93.3eefb8"
            ]
        ]
    },
    {
        "id": "536b3ed.e7a76c",
        "type": "ui_text",
        "z": "3af82246.3634ae",
        "group": "d49212e.c7e99f",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 330,
        "y": 460,
        "wires": []
    }
]