flows.json
[
    {
        "id": "3af82246.3634ae",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b6676317.388cb",
        "type": "tab",
        "label": "Flow 2",
        "disabled": true,
        "info": ""
    },
    {
        "id": "d2a17e7.00b668",
        "type": "mqtt-broker",
        "name": "myBrokerConfig",
        "broker": "${MQTT_HOST}",
        "port": "${MQTT_PORT}",
        "tls": "9ec473ef.e0678",
        "clientid": "${MQTT_CLIENT_ID}",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "9ec473ef.e0678",
        "type": "tls-config",
        "name": "myTLSconfig",
        "cert": "",
        "key": "",
        "ca": "/mosquitto/certs/mqtt_ca.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "mqttBroker",
        "verifyservercert": true
    },
    {
        "id": "55dd0376.f7c64c",
        "type": "http in",
        "z": "3af82246.3634ae",
        "name": "",
        "url": "/hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 220,
        "wires": [
            [
                "c656aba7.944288"
            ]
        ]
    },
    {
        "id": "c2380ca8.0463",
        "type": "http response",
        "z": "3af82246.3634ae",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 520,
        "y": 220,
        "wires": []
    },
    {
        "id": "c656aba7.944288",
        "type": "change",
        "z": "3af82246.3634ae",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"text\":\"Hello\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 220,
        "wires": [
            [
                "c2380ca8.0463"
            ]
        ]
    },
    {
        "id": "a80da1fa.e3c11",
        "type": "inject",
        "z": "3af82246.3634ae",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "WWW",
        "payloadType": "env",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "10e74b23.e3b8c5"
            ]
        ]
    },
    {
        "id": "10e74b23.e3b8c5",
        "type": "debug",
        "z": "3af82246.3634ae",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 100,
        "wires": []
    },
    {
        "id": "8381a5c3.3cbf9",
        "type": "mqtt in",
        "z": "3af82246.3634ae",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "json",
        "broker": "d2a17e7.00b668",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "ebab6856.8901c"
            ]
        ]
    },
    {
        "id": "ebab6856.8901c",
        "type": "debug",
        "z": "3af82246.3634ae",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 450,
        "y": 460,
        "wires": []
    },
    {
        "id": "92d9d4a9.e5cf4",
        "type": "inject",
        "z": "3af82246.3634ae",
        "name": "",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "fb7b0c12.eb2e48"
            ]
        ]
    },
    {
        "id": "fb7b0c12.eb2e48",
        "type": "change",
        "z": "3af82246.3634ae",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"time\" : $fromMillis($toMillis($now()),'[H]:[m]:[s]') }",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 360,
        "wires": [
            [
                "d356084b.b81818"
            ]
        ]
    },
    {
        "id": "d356084b.b81818",
        "type": "mqtt out",
        "z": "3af82246.3634ae",
        "name": "",
        "topic": "time",
        "qos": "",
        "retain": "",
        "broker": "d2a17e7.00b668",
        "x": 450,
        "y": 380,
        "wires": []
    }
]